// ============================================================
// FOOTER 
// ============================================================

.global-footer {

	padding: $baseline 0;
	background: $col-lightgrey;

	h4 {

		margin-bottom: $baseline*2;
	}

	.footer-newsletter {

		form {

			input[type="text"],
			input[type="submit"] {

				width: 100%;
				@include font(16);
			}

			input[type="email"] {

				//background: $col-lightgrey;
				// text-transform: uppercase;
				border: 0;
				text-transform: capitalize;
			}

			#mce-responses {

				margin-bottom: $baseline;

				#mce-error-response {

					color: $col-red;
				}

				#mce-success-response {

					color: $col-lime;
				}
			}
		}
	}
}

// ============================================================